    div {
        color: blue;
        padding: 20px;
        border: 1px solid blue;
        text-shadow: 2px 4px 4px rgb(170, 0, 0);
        background-color: rgba(0, 0, 0, 0.803);
    }
    
    h2 {
        font-style: italic;
    }
    
    img {
        border-radius: 50px;
    }
    
    li {
        margin: 10px;
        font-style: italic;
    }